.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (max-width: 478px) {

    .ant-table-row {
        width: 100%;
        /*max-width: 320px !important;*/

    }

    tr {
        width: 100%;
    }


    .ant-table-cell {
        display: inline-block !important;
        max-width: 220px !important;
        position: absolute;
        font-size: 14px;
    }

    .ant-table-tbody {
        white-space: nowrap !important;
    }

    .ant-table-pagination.ant-pagination {
        display: block;
        overflow-x: scroll;
    }

    .ant-pagination-item {
        display: none !important;
    }

    .ant-pagination-jump-next {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .client_bg__V-DYR {
        padding: 0;
    }
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.site-badge-count-4 .ant-badge-count {
    margin-left: 10px;
    color: #00b4d8;
    background-color: #ade8f4;
    box-shadow: 0 0 0 1px #00b4d8 inset;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
